In [1]:
import pandas as pd
import numpy as np

In [2]:
#load file csv
df = pd.read_csv("/home/stefano/projects/augmentation_tesi/data_utilities/final_labels_oasis-1.csv")
df.head()

            list1_id  ageAtVisit  MMSE  CDRTOT                 dx1
0  OAS30001_MR_d0129       65.19    28     0.0  Cognitively normal
1  OAS30001_MR_d0757       67.17    30     0.0  Cognitively normal
2  OAS30001_MR_d3132       73.48    30     0.0  Cognitively normal
3  OAS30002_MR_d0653       69.31    29     0.0  Cognitively normal
4  OAS30002_MR_d2340       73.45    30     0.0  Cognitively normal

In [3]:
#selezione istanze con label "Cognitively normal"
id_sesMR_CN = np.array(df[df["dx1"] == "Cognitively normal"].list1_id)
print(" Ci sono", len(id_sesMR_CN), "immagini MRI di soggetti 'cognitively normal'")

#relative path "Cognitively normal" ("sub-" + id_soggetto + id_ses_mr)
relativePath_mr_CN = ["sub-" + i.split("_")[0] + "/ses-" + i.split("_")[2]  for i in id_sesMR_CN]

 Ci sono 1314 immagini MRI di soggetti 'cognitively normal'

In [5]:
#salvataggio relative path MRI "Cognitively normal" in file csv
pd.DataFrame(relativePath_mr_CN).to_csv("/home/stefano/projects/augmentation_tesi/data_utilities/relativePath_mr_CN.csv",index=False)

In [7]:
#df1 = pd.read_csv("/home/stefano/projects/augmentation_tesi/data_utilities/relativePath_mr_CN.csv")
#df1.head(50)

                         0
0   sub-OAS30001/ses-d0129
1   sub-OAS30001/ses-d0757
2   sub-OAS30001/ses-d3132
3   sub-OAS30002/ses-d0653
4   sub-OAS30002/ses-d2340
5   sub-OAS30002/ses-d2345
6   sub-OAS30003/ses-d2669
7   sub-OAS30003/ses-d2682
8   sub-OAS30003/ses-d3731
9   sub-OAS30004/ses-d1101
10  sub-OAS30004/ses-d2229
11  sub-OAS30004/ses-d2232
12  sub-OAS30004/ses-d3457
13  sub-OAS30005/ses-d1274
14  sub-OAS30005/ses-d2377
15  sub-OAS30005/ses-d2384
16  sub-OAS30005/ses-d3453
17  sub-OAS30006/ses-d2341
18  sub-OAS30006/ses-d2342
19  sub-OAS30006/ses-d3386
20  sub-OAS30007/ses-d0061
21  sub-OAS30007/ses-d1636
22  sub-OAS30007/ses-d1641
23  sub-OAS30008/ses-d0061
24  sub-OAS30008/ses-d1313
25  sub-OAS30008/ses-d1327
26  sub-OAS30008/ses-d2035
27  sub-OAS30009/ses-d0148
28  sub-OAS30009/ses-d1210
29  sub-OAS30009/ses-d2457
30  sub-OAS30010/ses-d0068
31  sub-OAS30011/ses-d0055
32  sub-OAS30011/ses-d1671
33  sub-OAS30014/ses-d0196
34  sub-OAS30014/ses-d1176
35  sub-OAS30015/ses-d0116
36  sub-OAS30015/ses-d0788
37  sub-OAS30015/ses-d1374
38  sub-OAS30015/ses-d2004
39  sub-OAS30017/ses-d0054
40  sub-OAS30018/ses-d0070
41  sub-OAS30018/ses-d0893
42  sub-OAS30021/ses-d0071
43  sub-OAS30025/ses-d0210
44  sub-OAS30025/ses-d2298
45  sub-OAS30026/ses-d0048
46  sub-OAS30026/ses-d0129
47  sub-OAS30026/ses-d0696
48  sub-OAS30027/ses-d0433
49  sub-OAS30027/ses-d1300